flasgger==0.9.5
Flask==2.2.2
flask-lambda==0.0.4
flask-swagger-ui==4.11.1
regex==2022.10.31
Werkzeug==2.2.2
Jinja2==3.1.2
ipykernel==6.19.4
tensorflow==2.10.0
torch
Pillow==9.3.0
scikit-learn
opencv-contrib-python==4.7.0.72
opencv-python-headless==4.7.0.72
imutils
pyopengl==3.1.5
insightface
diffusers
onnxruntime
